$color-primary: #025FC8;
$color-background: $color-primary;
$color-secondary: #0D1042;
$color-ui-primary: rgb(250, 246, 246);
$color-ui-shadow: rgba(73, 75, 118, 1.0);

$font-primary: 'Signika', sans-serif;



