.btn {
    padding: 1em 1em;
    border: none;
    width: 80%;
    color: $color-ui-primary;

    &-primary {
        background-color: $color-secondary;
        box-shadow: $color-ui-shadow;
  
    }

    &-secondary {
        background-color: $color-primary;
        color: $color-ui-primary;
        box-shadow: $color-ui-shadow;
    }
}