.btn {
    padding: 1em;
    border: none;
    margin: 1em;
    color: $color-ui-primary;

    &-primary {
        background-color: $color-primary;
    }

    &-secondary {
        background-color: $color-primary;
        color: $color-ui-primary;
        opacity:0.5;
        padding: -0.5em;
        margin: 20px;
    }
}