.stations {
   
    background-color: $color-ui-card;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    &__list {
        box-shadow: $color-ui-shadow;
  
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    &__bikes {
       margin-left: 1em;
    }

    &__count {
        font-size: 3rem;
        color: $color-primary;
    }

    &__icons {
        font-size: 1.5em;
    }

}